@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-light);
  }
}
.summary {
  @include atoms.uppercase($text-light);
  padding: 15% 0;
  p:last-child {
    @include atoms.divider;
  }
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
}
.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: $text-dark;
  //margin-left: -30%;
  //padding: 5% 5% 5% 30%;
}

.intro h2 {
  
  background-image: url(images/dropsmall.svg);
  background-repeat: no-repeat;
  background-position-x: bottom;
}

/* Moving Rocks 
@keyframes float {
  0%  {top: 120px;}
  25% {top: 80px;}
  50% {top: 120px;}
  75% {top: 80px;}
  100% {top: 120px;}

}

.sumary {
  position: relative;
  width: 135px;
  height: 90px;
  top: 120px;
  left: 50px;
  background: rgb(144,123,113);
  background: linear-gradient(310deg, rgba(144,123,113,1) 33%, rgba(212,196,168,1) 96%);
  border-radius: 50%;
  animation-name: float;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  &::before {
    position: absolute;
    content:"";
    width: 100px;
    height: 70px;
    top: -40px;
    left: 23px;
    background: rgb(144,123,113);
    background: linear-gradient(318deg, rgba(144,123,113,1) 33%, rgba(212,196,168,1) 96%);
    border-radius: 50%;
  }
  &::after {
    position: absolute;
    content:"";
    width: 75px;
    height: 45px;
    top: -75px;
    left: 27px;
    background: rgb(144,123,113);
    background: linear-gradient(310deg, rgba(144,123,113,1) 43%, rgba(212,196,168,1) 96%);
    border-radius: 50%;
    
  }
}
/*End Moving Rocks */

/* YinYang 
body {
  display: flex;
  justify-content: center;
}

header::after {
  position: relative;
  background: fff;
  height: 100px;
  border-color: #000;
  border-style: solid;
  width: 50px;
  border-width: 2px 50px 2px 2px;
  border-radius: 50%;
  animation: roll 40000s infinite;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    border: 18px solid #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    border: 18px solid #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
  }
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600000deg);
  }
}

/* End YinYang */