@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-light);
  }
}
.summary {
  @include atoms.uppercase($text-light);
  padding: 15% 0;
  p:last-child {
    @include atoms.divider;
  }
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
}

.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: $text-dark;
  //margin-left: -30%;
  //padding: 5% 5% 5% 30%;
}

.intro h2 {
  position: relative;
  &::after{
  content: "";
  animation: roll 40000s infinite;
  position: absolute;
  background-image: url(images/yinyang.svg);
  background-repeat: no-repeat;
  background-position-x: bottom;
  height: 6rem;
  width: 6rem;
  right: 20px;
  bottom: 10px;
  }
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600000deg);
  }
}


.preamble {
  position: relative;
  &::after{
  content: "";
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
  background-image: url(images/yoga-hand.svg);
  background-repeat: no-repeat;
  background-position-x: bottom;
  height: 6rem;
  width: 6rem;
  right: 40px;
  top: -20px;
  rotate: -90deg;
  }
}

@keyframes wave {
  0%  {rotate: -90deg;}
  50% {rotate: 90deg;}
  100% {rotate: -90deg;}


}

.participation {
  position: relative;
  &::after{
  content: "";
  position: absolute;
  background-image: url(images/drop.svg);
  background-repeat: no-repeat;
  background-position-x: bottom;
  height: 4rem;
  width: 4rem;
  right: 40px;
  top: 10px;
  }
}

.requirements {
  position: relative;
  &::after{
  content: "";
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  background-image: url(images/rocks2.svg);
  background-repeat: no-repeat;
  background-position-x: bottom;
  height: 4rem;
  width: 4rem;
  right: 40px;
  top: 10px;
  }
}

@keyframes float {
  0%  {top: 12px;}
  50% {top: -10px;}
  100% {top: 12px;}
}