$fonts-headline: 'Zen Loop', 'Quicksand', Arial, sans-serif;
$fonts-body: 'Quicksand', Arial, sans-serif;
$background-color: #E7E7E4;
$primary: #A39A95;
$accent1: #345573;
$accent2: #3E613C;
$grey-sidebar: #A39A95;
$text-dark: #1F1E1A;
$text-light: #E7E7E4;
$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;