//@use "reset";
@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
//@use 'organisms' as o;
@use 'layout';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Zen+Loop:ital@0;1&display=swap');

@mixin blue-box {
  
}

@mixin light-box {
  
}
* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  //padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  //padding: 1em;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 300px;
  font-size: .75rem;

}

.preamble, .participation, .requirements, footer {
  background: $background-color;
}

.explanation, .benefits {
  background: $accent1;
  color: $text-light;
}

.summary {
  background: $accent2;
  padding: 1em;
  color: $text-light;
}

footer {
  padding: 1em;
}

.design-selection {
  .select {
    background: $grey-sidebar;
  }
  nav { 
    margin: 0;
    padding: 0;
    ul {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
      color: $text-light;
      li {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100px;
        width: 100%;
        background: $accent1;
        text-decoration: none;
        padding: .5em;
        font-size: 1.5em;
        align-items: center;
        text-align: center;
        &:nth-child(even) {
          background: $accent2;
        }
        a {
          font: $fonts-body;
          color: $text-light;
        }  
      }
    }
  }
}