@use 'variables' as *; //this puts all the variables in the global namespace.
@use 'atoms';
//@use 'molecules';
//@use 'organisms' as o;
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Zen+Loop&display=swap');

* {
  box-sizing: border-box;
}
html {
  background-color: $primary;
  padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $background-color;
  margin: 0;
  padding: 1em;
}

section {
  background-color: white;
  padding: 1em;
  margin: 1em;
}
.colors {
  @include atoms.set-flex();
  > h3 {
    width: 100%;
    flex: 1 0 100%;
  }
  > figure {
    margin: 0;
    flex: 1 1 25%;
  }
}
.swatch {
  width: 100%;
  height: 100px;
  border: 1px solid;
}
.primary {
  background-color: $primary;
}
.accent1 {
  background-color: $accent1;
}
.accent2 {
  background-color: $accent2;
}
.text-dark {
  background-color: $text-dark;
}
.background-color {
  background-color: $background-color;
}
.element {
  border: 1px solid;
  margin: 0.5em;
  padding: 1em;
}
.uppercase {
  @include atoms.uppercase;
}
.uppercase-light {
  @include atoms.uppercase($text-light);
}
