//@use "reset";
@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
//@use 'molecules';
//@use 'organisms' as o;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Zen+Loop:ital@0;1&display=swap');

@mixin blue-box {
  
}

@mixin light-box {
  
}
* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  //padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  //padding: 1em;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 2
  50px;
}

.preamble, .participation, .requirements, footer {
  background: $background-color;
}

.explanation, .benefits {
  background: $accent1;
  color: white;
}

.summary {
  background: $accent2;
  padding: 1em;
  color: white;
}

footer {
  padding: 1em;
}

.design-selection {
  .select {
    background: $grey-sidebar;
  }
  nav { 
    margin: 0;
    padding: 0;
    ul {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
      color: white;
      li {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 200px;
        width: 100%;
        background: $accent1;
        text-decoration: none;
        padding: .5em;
        font-size: 1.5em;
        align-items: center;
        text-align: center;
        &:nth-child(even) {
          background: $accent2;
        }
        a {
          font: $fonts-body;
          color: white;
        }  
      }
    }
  }
}

.design-archives, .zen-resources {
  display: flex;
  background: $primary;
  font-size: 1em;
  width: 100%;
  padding: 1em 1em 1em 5em;
  align-self: start;
  text-decoration: none;
}
.infinity {
  position: relative;
  width: 212px;
  height: 100px;
  box-sizing: content-box;
  }
  .infinity:before,
  .infinity:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid black;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
  }
  .infinity:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
  }