//@use "reset";
@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Zen+Loop:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  //padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  //padding: 1em;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 2
  50px;
}

.summary {
  background: $accent2;
  padding: 5px;
  color: white;
}